<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Setting Styles Dyamically wihout CSS</title>
</head>

<body>
    <!-- Setting Styles Dyamically wihout CSS -->
    <div id="css">
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <hr>
        <!-- array syntax -->
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>

        <!-- THIS IS AWESOME! -->
        <label for="color">Color</label>
        <input type="text" v-model="color">

        <label for="width">Width</label>
        <input type="text" v-model="width">
    </div>

    <!-- scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="index.js"></script>
</body>

</html>