<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- to display the index ie: i-->
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{i}})</li>
        </ul>

        <!-- alternative for nested v-for -->
        <template v-for="(ingredient, i) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>({{i}})</p>

        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>