<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loop Through Objects</title>
</head>

<body>
    <div id="app">
        <ul>
            <!-- <li v-for="person in people">{{ person.name }}</li> -->
            <li v-for="person in people">
                <!-- nested loop for key and value inside object -->
                <div v-for="value in person">{{value}}</div>
                <div v-for="(value, key, i) in person">{{key}}: {{value}} | ({{i}})</div>
            </li>
            <hr>
            <!-- loop thorugh list of numbers -->
            <p v-for="n in 11">{{n}}</p>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>