<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show / Hide</title>
</head>

<body>
    <div id="app">
        <p>Hello</p>
        <p v-if="show">World</p>
        <p v-else>Planet</p>

        <!-- we can also nest it within HTML5 template tag -->
        <template v-if="show">
            <h1>Fluminense</h1>
            <p>Time de Futebol</p>
        </template>

        <!-- v-show doesn't remove the element rather sets it to display none -->
        <h1 v-show="show">Flamengo</h1>


        <button @click="show = !show">Switch</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>
<!-- v-if = better performance than v-show -->